node_modules/
.DS_Store
*.log
.cache/
.env
data/clover-merchants.geojson
data/order-reports.ndjson
data/user-cards.json
data/community-stats.json
data/promo-refund-reports.ndjson
data/community-stats.json